* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Noto Serif', serif; }

.header__menu {
  background-color: #ff8243;
  box-shadow: 3px 2px 5px black; }
  .header__menu div a .header__logo {
    width: 16rem;
    margin-left: 15%; }
  .header__menu div div .menu__enlaces {
    background-color: #43c0ff;
    border-radius: 25px;
    margin-right: 2%;
    padding: 0 1%;
    font-size: 18px; }

.footer {
  background-color: #ff8243; }
  .footer div .footer__logo {
    width: 30%; }
  .footer div .iconos__redes {
    color: white;
    font-size: 2.2rem;
    list-style: none; }
  .footer div .footer__texto {
    background-color: #43c0ff;
    border-radius: 25px; }

.main__institucional {
  background-color: #ff824340;
  margin: 4%; }
  .main__institucional:h2 {
    font-size: 35px;
    padding-bottom: 2%; }
  .main__institucional:article {
    font-size: 18px;
    padding: 4%; }
  .main__institucional:img {
    width: 25rem;
    padding-bottom: 4%; }
