* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Noto Serif', serif; }

.header__menu {
  background-color: #ff8243;
  box-shadow: 3px 2px 5px black; }
  .header__menu div a .header__logo {
    width: 16rem;
    margin-left: 15%; }
  .header__menu div div .menu__enlaces {
    background-color: #43c0ff;
    border-radius: 25px;
    margin-right: 2%;
    padding: 0 1%;
    font-size: 18px; }

.footer {
  background-color: #ff8243; }
  .footer div .footer__logo {
    width: 30%; }
  .footer div .iconos__redes {
    color: white;
    font-size: 2.2rem;
    list-style: none; }
  .footer div .footer__texto {
    background-color: #43c0ff;
    border-radius: 25px; }

.section__productos {
  background-color: #ff824340;
  padding: 3% 10% 3% 8%;
  margin-top: 5%;
  margin-bottom: 10%;
  display: grid;
  grid-template-columns: 200px 250px 650px;
  grid-template-rows: 100px 100px 100px 100px;
  grid-gap: 15px;
  grid-template-areas: "img1 img2 art" "img1 img2 art" "img1 img3 art" "img1 img3 art"; }
  .section__productos .img__vertical {
    width: 100%;
    height: 445px;
    object-fit: cover;
    grid-area: img1; }
  .section__productos .img__superior {
    width: 250px;
    height: 215px;
    grid-area: img2; }
  .section__productos .img__inferior {
    width: 250px;
    height: 215px;
    grid-area: img3; }
  .section__productos .producto__descripcion {
    grid-area: art;
    font-size: 120%;
    padding-left: 5%;
    text-align: center;
    justify-self: center;
    align-self: center; }

.main__institucional {
  background-color: #ff824340;
  margin: 4%; }
  .main__institucional h2 {
    font-size: 35px;
    padding: 2%; }
  .main__institucional article {
    font-size: 18px;
    padding: 0 10%; }
  .main__institucional img {
    width: 30rem;
    padding: 4%; }

.formulario div div img {
  width: 50%;
  height: 70%;
  padding-top: 4%; }
