.header__menu {
    background-color: #ff8243;
    box-shadow: 3px 2px 5px black;
    div {
        a {
            .header__logo {
                width: 16rem;
                margin-left:  15%;
            }
        }
        div {
            .menu__enlaces {
                background-color: #43c0ff;
                border-radius: 25px;
                margin-right: 2%;
                padding: 0 1%;
                font-size: 18px;
            }
        }
    }
    
}