.header__menu {
    background-color: $naranja;
    box-shadow: 3px 2px 5px black;
    div {
        a {
            .header__logo {
                width: 16rem;
                margin-left:  15%;
            }

            // MEDIA Q MOBIL
            @media screen and (max-width:500px) {
                .header__logo {
                    width: 12rem;
                    margin-left: 3%;
                }
            }
        }
        div {
            .menu__enlaces {
                @include barraCeleste("yes");
                // margin-right: 2%;
                // padding: 0 1%;
                // font-size: $fontsize_article;
            }
        }
    }
}