.main__institucional {
    background-color: $background-seccion;
    margin: 4%;
    &:h2 {
        font-size: 35px;
        padding-bottom: 2%;
    }
    &:article {
        font-size: 18px;
        padding: 4%;
    }
    &:img {
        width: 25rem;
        padding-bottom: 4%;
    }
}