* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin barraCeleste($header) {
    background-color: $celeste;
    border-radius: 25px;

    @if ($header == "yes") {
        margin-right: 2%;
        padding: 0 1%;
        font-size: $fontsize_article;
    }
}