.contacto {
    display: flex;
    flex-flow: row wrap;
    div {
        div {
            img {
                width: 60%;
                height: 60%;
                padding-top: 4%;
            }
        }
        div {
            form {
                padding: 10% 0;
                div {
                    textarea {
                        width: 350px;
                        height: 200px;
                    }
                }
                
                button {
                    padding: 5px;
                    margin-top: 5%;
                }
            } 
        }
         
    }
     
}