.contacto {
    display: flex;
    flex-flow: row wrap;
    div {
        div {
            img {
                width: 66%;
                height: 64%;
                padding-top: 4%;
            }
        }
        div {
            form {
                padding: 12% 0;
                div {
                    textarea {
                        width: 350px;
                        height: 208px;
                    }
                }
                
                button {
                    padding: 5px;
                    margin-top: 8%;
                }
            } 
        }
         
    }
     
}