.main__institucional {
    background-color: $background-seccion;
    margin: 4% 10%;
    h2 {
        font-size: 35px;
        padding: 2%;
    }
    article {
        font-size: $fontsize_article;
        padding: 0 10%;
    }
    img {
        width: 35rem;
        padding: 4%;
    }
}